.buscador{
justify-content:right;
position: relative;
text-align: end;
}

.add{
    justify-content:right;
position: relative;
text-align: end;
margin-top: 100px;
}

.titulo{
    justify-content: center;
    text-align: center;
    margin-top: 50px;
   font-size: 100px;
}
